body{
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid lightslategrey;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(54, 231, 54);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: rgb(6, 63, 6);
}
.card{
    background: linear-gradient(180deg, rgb(119, 188, 235), rgb(241, 204, 80));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 5px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(58, 49, 49);
    margin-bottom: 25px;
}
.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}
.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color:  rgb(44, 43, 43);
}